.footer_up{
	width: 100%;
	background-color: #000;
	margin-top: 4px;
	display: flex;
	justify-content: center;
}
.footer_upp{
	width: 1200px;
	display: flex;
  justify-content: space-between;
}
.footer_left{
	width: 270px;
	padding-top: 50px;
	padding-left: 21px;

}
.left-a{
	display: flex;
}
.footer_left h1,.footer_min h1,.footer_rigth h1{
	font-weight: bold;
	font-size: 24px;
	color: #fff;
	line-height: 40px
}
.footer_left ul li{
	padding-top: 10px;
	line-height: 22px;
	margin-right: 30px;
}
.zhinan{
	margin-left: -7px;
}
.footer_left ul a{
	color: #fff;
	text-decoration: none;
}
.footer_left ul a:hover{
	color: #ffd801
}
.footer_left ul i{
	color: #ffd800;
	font-size: 20px;
	padding-top: 5px;
	margin-right: 2px;
}
.footer_left ul:nth-child(1) li:nth-child(1) i{
	color: #ffd800;
	font-size: 28px;
}
.footer_left ul:nth-child(2){
	margin-top: 4px;
}
/*.footer_left ul:nth-child(2) li:nth-child(3) i{
	color: #ffd800;
	font-size: 20px;
	padding-left: 5px;
	margin-right: 2px;
}*/
/*.footer_left ul:nth-child(2) li:nth-child(4) i{
	color: #ffd800;
	font-size: 20px;
	padding-left: 5px;
	margin-right: 2px;
}
.footer_left ul:nth-child(3) li:nth-child(1) i{
	color: #ffd800;
	font-size: 20px;
	padding-left: 5px;
	margin-right: 2px;
}
.footer_left ul:nth-child(3) li:nth-child(2) i{
	color: #ffd800;
	font-size: 20px;
	padding-left: 5px;
	margin-right: 2px;
}
.footer_left ul:nth-child(3) li:nth-child(3) i{
	color: #ffd800;
	font-size: 20px;
	padding-left: 5px;
	margin-right: 2px;
}
.footer_left ul:nth-child(3) li:nth-child(4) i{
	color: #ffd800;
	font-size: 20px;
	padding-left: 5px;
	margin-right: 2px;
}
.footer_left ul:nth-child(3) li:nth-child(5) i{
	color: #ffd800;
	font-size: 20px;
	padding-left: 5px;
	margin-right: 2px;
}*/
.footer_left ul:nth-child(3){
	margin-left: 40px;
}
.footer_min{
	width: 242px;
	padding-top: 50px;
	padding-bottom: 13px;

}
.min-a{
	display: flex;
	justify-content: space-between;
}
.footer_min>div{
	width: 106px;
	margin-top: 19px;
}
.footer_min>div>div{
	margin-right: 30px;
}
.min-a>div>img:nth-child(2){
	margin-left: 30px;
}
.footer_rigth{
	padding-top: 50px;
}
.footer_rigth b{
	color: #fff;
	font-size: 24px;
	display: block;
	margin-top: 15px
}
.footer_rigth b span{
	font-size: 12px;
	color: #fff;
}
.footer_rigth i{
	line-height: 38px;
	font-size: 38px;
	margin-top: 36px;
	margin-right: 5px;
	color: #ffd701;
}
.right-a{
	display: flex;
}
.footer_down{
	width: 100%;
	background-color: #2b2e33;
}
.footer_downd{
	width: 1200px;
	margin: 0 auto;
}
.footer_downd img{
	margin-left: -24px;
	padding-top: 15px;
	padding-bottom: 12px;
}
.footer_downd span{
	float: right;
	margin-right: 83px;
	font-size: 12px;
	width: 510px;
	color: #717479;
	text-align: right;
	margin-top: 28px;
	line-height: 20px
}
